name: Lucee single mode tests

on:
  # Allows you to run this workflow manually from the Actions tab
  push:
  workflow_dispatch:
    inputs:
      LUCEE_VERSION:
        required: true
        type: string

env:
  LUCEE_INSTALLER_VERSION: 6.2.1.77-RC
jobs:
  test-ubuntu-linux-x64:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4.1.1

      - name: Cache Lucee Installer packages
        uses: actions/cache@v4
        with:
          path: lucee-${{ env.LUCEE_INSTALLER_VERSION }}-linux-x64-installer.run
          key: lucee-installer-cache

      - name: Download Lucee Jar
        run: |
          if [ ! -f "lucee-${{ env.LUCEE_INSTALLER_VERSION }}-linux-x64-installer.run" ]; then
            curl --fail https://cdn.lucee.org/lucee-${{ env.LUCEE_INSTALLER_VERSION }}-linux-x64-installer.run -o lucee-${{ env.LUCEE_INSTALLER_VERSION }}-linux-x64-installer.run -s
          fi
          ls -lH *.run

      - name: Update and install Apache
        run: |
          sudo apt-get update
          sudo apt-get install -y apache2

      - name: Start Apache service
        run: |
          sudo systemctl start apache2
          sudo systemctl enable apache2

      - name: Verify Apache is running
        run: |
          sudo systemctl status apache2

      - name: list dir
        run: |
          ls -l

      - name: prepare virtual hosts
        run: |
          sudo cp -R apps /var/www/apps
          sudo chown -R www-data:www-data /var/www/apps
          sudo chmod o+w /var/www/apps

          sudo cp conf/host1.localhost.conf /etc/apache2/sites-available/host1.localhost.conf
          sudo cp conf/host2.localhost.conf /etc/apache2/sites-available/host2.localhost.conf

          sudo a2ensite host1.localhost.conf
          sudo a2ensite host2.localhost.conf

          sudo systemctl reload apache2

      - name: Run Lucee Linux installer
        run: |
          ls -l
          chmod +x lucee-${{ env.LUCEE_INSTALLER_VERSION }}-linux-x64-installer.run
          sudo ./lucee-${{ env.LUCEE_INSTALLER_VERSION }}-linux-x64-installer.run \
            --mode unattended --installconn true --installmodcfml true --installiis false --startatboot false \
            --luceepass ibtest --systemuser lucee --installjre true
          sleep 5;

      - name: Prepare web roots
        run: |
          sudo usermod -a -G www-data lucee
          sudo ls -lR /var/www/apps
      - name: Restart
        run: |
          sudo systemctl reload apache2
          sudo /opt/lucee/lucee_ctl restart
          sleep 5;

      - name: Run tests
        run: |
          echo "## First check each host is working" | tee -a $GITHUB_STEP_SUMMARY
          #echo "### http://host1.localhost/robots.txt" | tee -a $GITHUB_STEP_SUMMARY
          #curl http://host1.localhost/robots.txt --fail-with-body | tee -a $GITHUB_STEP_SUMMARY

          #echo "### http://host1.localhost/robots.txt" | tee -a $GITHUB_STEP_SUMMARY
          #curl http://host2.localhost/robots.txt --fail-with-body | tee -a $GITHUB_STEP_SUMMARY

          echo "## Now test if each host has it's own config and loads the correct models" | tee -a $GITHUB_STEP_SUMMARY
          echo "### http://host1.localhost/index.cfm" | tee -a $GITHUB_STEP_SUMMARY
          curl -L --max-redirs 5 http://host1.localhost/index.cfm --fail-with-body | tee -a $GITHUB_STEP_SUMMARY

          echo "### http://host1.localhost/index.cfm" | tee -a $GITHUB_STEP_SUMMARY
          curl -L --max-redirs 5 http://host2.localhost/index.cfm --fail-with-body | tee -a $GITHUB_STEP_SUMMARY

      - name: Lucee Install logs
        if: ${{ always() }}
        run: |
            ls -l /tmp
            cd /tmp
            echo "----- installbuilder_installer.log"
            sudo -s cat installbuilder_installer.log
            cd /opt/lucee
            echo "------ ls -lR /opt/lucee"
            sudo ls -lR
            echo "----- install.log"
            sudo [ -r install.log ] && sudo -s cat install.log

      - name: Tomcat / Lucee logs
        if: ${{ always() }}
        run: |
            sudo ls -l /opt/lucee/tomcat/logs/
            echo "----- catalina.out"
            sudo [ -r /opt/lucee/tomcat/logs/catalina.out ] && sudo cat /opt/lucee/tomcat/logs/catalina.out
            cat /opt/lucee/tomcat/lucee-server/context/logs/out.log

      - name: Apache logs
        if: ${{ always() }}
        run: |
            echo "----- error.log"
            sudo -s cat /var/log/apache2/error.log

            echo "----- host1-access.log"
            sudo [ -r /var/log/apache2/host1-access.log ] && sudo cat /var/log/apache2/host1-access.log

            echo "----- host1-error.log"
            sudo [ -r /var/log/apache2/host1-error.log ] && sudo cat /var/log/apache2/host1-error.log

            echo "----- host2-access.log"
            sudo [ -r /var/log/apache2/host2-access.log ] && sudo cat /var/log/apache2/host2-access.log

            echo "----- host2-error.log"
            sudo [ -r /var/log/apache2/host2-error.log ] && sudo cat /var/log/apache2/host2-error.log

            sudo -s ls -l /var/log/apache2/
